[Unit]
Description=Location Tracker
Requires=geospatial-api.service ict.influxdb.service
After=network.target geospatial-api.service

[Service]
ExecStart=/home/pi/python/venvs/ict3/bin/python /home/pi/ict/tracker/tracker.py
WorkingDirectory=/home/pi/ict/tracker
User=pi
RestartSec=5
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=location-tracker

[Install]
WantedBy=multi-user.target
